/*
FORMATAÇÃO DA SECTION FORMS
*/

.section__forms {

    background-color: #112B3C;

}

/*
FORMATAÇÃO DO TÍTULO DA SECTION FORMS
*/

.section__forms h2 {

    color: #1DC9A1;
    margin-left: 50px;
    padding-top: 50px;

}

/*
FORMATAÇÃO DO HEADER
*/

.header {

    background-color: #2d7be8;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header__h2 {

    color: whitesmoke;

}

/*
FORMATAÇÃO DO FORMULÁRIO
*/

.main {

    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, #112B3C , #1DC9A1);

}

.main__formulario {

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;

}

.main__formulario input {

    border-radius: 4px;
    border: #05244f solid 1px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 20px;

}

.register {

    background-color: rgb(8, 179, 8);
    color: whitesmoke;
    font-size: 20px;
    font-weight: 700;

}

.show__hide {

    background-color: #2d7be8;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 700;

}

#button__show__hide__table,
#register {

    padding-left: 0px;
    border: whitesmoke solid 1px;

}

.main__formulario label {

    color: whitesmoke;
    font-size: 20px;
    font-weight: 400;
    align-items: left;

}

/*
FORMATAÇÃO DA TABELA
*/

.section__tabela {

    border: red solid 10px;
    background-color: whitesmoke;

}

.tabela {

    color: whitesmoke;
    border-collapse: collapse;
    width: 60%;
    height: 80px;
    margin-left: auto;  
    margin-right: auto;
    margin-bottom: 50px;

}

th {

    background-color: #2d7be8;

}

tr {

    background-color: #4c8ce6;

}

th,
td {

    border: whitesmoke solid 1px;
    padding: 10px;

}

tr:nth-child(even) {background-color: #114691;}



